@(message: String)(c: City)(zones: Array[String])

@main(message) {

	<form autocomplete="off" class="form-horizontal" id="edit-article-form" onsubmit="return false;"
	data-bv-message="This value is not valid"
	data-bv-feedbackicons-valid="glyphicon glyphicon-ok"
	data-bv-feedbackicons-invalid="glyphicon glyphicon-remove"
	data-bv-feedbackicons-validating="glyphicon glyphicon-refresh">
		
		<div class="form-group form-group-sm">
			    <label class="ol-md-5 col-md-offset-2 control-label" id="user-info"></label>
		</div>

		<div class="form-group form-group-sm">
				<label class="col-sm-2 control-label">ID:</label>
			<div class="col-sm-10">
				<input class="form-control" type="text" name="id" id="id"
					placeholder="自动分配" value="@if(c!=null){@c.id}" readonly>
			</div>
		</div>

		<div class="form-group form-group-sm">
			<label class="col-sm-2 control-label">城市名:</label>
			<div class="col-sm-10">
				<input class="form-control" type="text" name="name" id="name"
				placeholder="" value="@if(c!=null){@c.name}">
			</div>
		</div>

		<div class="form-group form-group-sm">
			<label class="col-sm-2 control-label">国家:</label>
			<div class="col-sm-10">
				<input class="form-control" type="text" name="country" id="country"
				placeholder="" value="@if(c!=null){@c.country}">
			</div>
		</div>

		<div class="form-group form-group-sm">
			<label class="col-sm-2 control-label">时区:</label>
			<div class="col-sm-10">
				<select class="form-control" name="text" name="timezone" id="timezone" data-bv-notempty>
				@for(z <- zones) {
					@if(c != null && z == c.timeZone){
						<option value="@z" selected>@z</option>
					}
					else
					{
						<option value="@z">@z</option>
					}
				}
				</select>
			</div>
		</div>

		<div class="col-md-2 col-md-offset-5">
			<button id="city-confirm-button" class="btn btn-success">提交</button>
		</div>
		
	</form>
    		
	@if(c!=null){
		<button class="btn btn-danger" onclick="location.href = '/api/v1/deleteCity?id=@c.id'">删除城市</button>
	}
		
	<script language="JavaScript">

		$("#city-confirm-button").click(function(){

			$('#edit-article-form').bootstrapValidator().off('success.form.bv').on('success.form.bv', function(e, data) {

			    e.preventDefault();
				var theID = $("#id").val();
				var theName = $("#name").val();
				var theCountry = $("#country").val();
				var theTimezone = $("#timezone").val();

				var data = {"id": theID, "name": theName, "country": theCountry, "timezone": theTimezone};

				$.rest("POST", "/api/v1/editCity", data, function(data){
						alert("城市提交成功！");
						window.location.href = "/city_manager?atype=all";
					},
					function(data){
						if(data.status == 403){
							alert("请勿提交重复城市数据");
						}
						else{
							alert("城市提交失败");
						}

					});

			  });
	 	});

	</script>

}
