@(message: String)


@main(message) {

	<div class="jumbotron">
		<div class="row">
			<div class="col-sm-12">

				<div class="col-sm-12">
					<div class="control-label">
						<label><h3>系统管理</h3></label>
					</div>
				</div>

				<div class="col-sm-12 col-md-4">
					<h4>用户管理</h4>
					<ul class="list-group">
						<li class="list-group-item"><a href="/user_manager?role=all">用户管理</a></li>
						<li class="list-group-item"><a href="/register">创建用户</a></li>
					</ul>
				</div>

				<div class="col-sm-12 col-md-4">
					<h4>页面管理</h4>
					<ul class="list-group">
						<li class="list-group-item"><a href="/article_manager?atype=all">页面管理</a></li>
						<li class="list-group-item"><a href="/edit_article">添加页面</a></li>
					</ul>
				</div>

				<div class="col-sm-12 col-md-4">
					<h4>城市管理</h4>
					<ul class="list-group">
						<li class="list-group-item"><a href="/city_manager?atype=all">城市管理</a></li>
						<li class="list-group-item"><a href="/edit_city">添加城市</a></li>
					</ul>
				</div>

			</div>
		</div>
	</div>

}
